Django==4.0.3
djangorestframework==3.13.1
flake8==4.0.1
graphene-django==2.15.0
boto3 
django-cors-headers 
django-dotenv 
django-filter 
django-storages 
djangorestframework-simplejwt 
geocoder 
gunicorn 
whitenoise 
psycopg2 
dj-database-url